.spinner {
  animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.desc.__rdt_custom_sort_icon__ i,
.asc.__rdt_custom_sort_icon__ i {
  transform: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  height: 5px !important;
  font-size: 11px !important;
  color: rgba(0, 0, 0, 0.5) !important;
}
.asc.__rdt_custom_sort_icon__ i:first-child,
.desc.__rdt_custom_sort_icon__ i:last-child {
  color: black !important;
}

.desc.__rdt_custom_sort_icon__,
.asc.__rdt_custom_sort_icon__ {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
}
.rdt_TableHeadRow {
  background-color: #eff1f487 !important;
}

.css-t3ipsp-control:hover,
.css-t3ipsp-control {
  border: none !important;
  box-shadow: none !important;
}
.rdt_TableHeadRow .rdt_TableCol:not(:last-child),
.rdt_TableRow .rdt_TableCell:not(:last-child) {
  border-right: 1px solid color(srgb 0.9119 0.9219 0.9261);
}

.rdt_Pagination select {
  background-color: color(srgb 0.9336 0.9536 0.9706) !important;
  padding: 5px 20px 5px 10px;
}

.rdt_Pagination select + svg {
  top: 50% !important;
  transform: translateY(-50%);
}
@media (min-width: 600px) {
  .rdt_Pagination div:has(> select) {
    margin-right: auto;
  }
}

.css-t3ipsp-control,
.css-13cymwt-control,
.form-control {
  background-color: color(srgb 0.9336 0.9536 0.9706) !important;
  border: none !important;
  border-radius: 7px !important;
  min-height: 38px !important;
}
